.header {
	width: 100%;
	height: var(--height-header);
	background-color: #2f3441;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		position: relative;
	}

	&__logo {
		width: 3.5rem;
		height: 3.5rem;
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5rem;
	}

	&__nav-list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4rem;
		font-size: 1.6rem;
		font-weight: 600;
	}

	&__nav-item {
		&:hover {
			color: var(--primary-color);
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	&__bar {
		display: none;
		font-size: 2.5rem;
		cursor: pointer;
	}
}

@media screen and (max-width: 768px) {
	.header__wrapper {
		position: relative;
	}

	.header__bar {
		display: block;
	}

	.header__menu {
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;

		background-color: var(--background-color);
		box-shadow: 0 10px 50px 0 rgb(0 0 0 / 5%);
		height: auto;

		display: block;
		transition: all 0.3s ease-in-out;
	}

	.header__menu.active {
		right: -100%;
	}

	.header__nav-list {
		flex-direction: column;
		gap: 2rem;
		padding: 2rem 0;
	}

	.header__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		margin-top: 5rem;
		margin-bottom: 5rem;
	}
}
