.banner {
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__slide {
		width: 100%;
	}
}

.swiper {
	width: 100%;
	height: 60rem;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	width: 100%;
	height: 100%;
}

.swiper-slide .banner-slide {
	width: 100%;
	height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
	color: var(--primary-color);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.banner {
	&__banner {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(50%);
		}
	}

	&__content {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		display: flex;
		align-items: flex-end;
		text-align: left;

		&--poster {
			min-width: 13rem;
			max-width: 20rem;

			height: auto;
			margin-right: 3rem;
		}

		&--info {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			&-title {
				font-size: 2.5rem;
				font-weight: 600;
				color: var(--primary-color);
				margin-bottom: 1rem;
			}

			&-details {
				display: flex;
				align-items: center;
				margin-bottom: 1rem;

				&--star {
					margin-right: 1rem;

					display: flex;
					align-items: center;
					color: var(--white-color);

					i {
						color: var(--primary-color);
						margin-right: 0.5rem;
					}
				}

				&--hd {
					color: var(--white-color);
					font-weight: bold;
					margin-right: 1rem;
				}

				&--year {
					color: var(--white-color);
				}
			}

			&-description {
				color: var(--white-color);
				font-size: 1.5rem;
				font-weight: 400;
				margin-bottom: 1rem;
			}
		}
	}
}
